{% extends 'partials/base.html' %}
{% load static %}

{% block extra_css %}


    <!-- select2 css -->
    <link href="{% static 'libs/select2/dist/css/select2.min.css'%}" rel="stylesheet" type="text/css" />

    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" /> 

{% endblock %}

{% block contents %}

<div class="d-lg-flex">
    <div class="chat-leftsidebar me-lg-4">
    {% block sidebar %}
        {% include 'sidebar/sidebar.html' %}
    {% endblock sidebar %}
    
    </div>
    <div class="w-100 user-chat">
        <div class="card">
            <div class="p-4 border-bottom ">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-primary">Profile</h4>
                        <h5>You can view you profile here</h5>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex justify-content-end">
                            <lottie-player src="{% static 'json/animation/id-card-profile-card.json' %}"  background="transparent"  speed="1"  style="width: 150px; height: 150px;"  loop  autoplay></lottie-player>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="chat-conversation p-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <form autocomplete="off" method="POST" action="#" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="mb-3 row">
                                            <label for="bulletin-title" class="col-md-3 col-form-label">Name</label>
                                            <div class="col-md-9">
                                                {{request.user.name}}
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="bulletin-title" class="col-md-3 col-form-label">User ID</label>
                                            <div class="col-md-9">
                                                {{request.user.id}}
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="bulletin-title" class="col-md-3 col-form-label">Email</label>
                                            <div class="col-md-9">
                                                {{request.user.email}}
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div><!-- /.modal-content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- end row -->
{% endblock %}


{% block extra_javascript %}

    <!-- select2 js -->
    <script src="{% static 'libs/select2/dist/js/select2.min.js'%}"></script>

    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
    
    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js'%}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js'%}"></script>
    

    <!-- dashboard init -->
    <script src="{% static 'js/pages/dashboard.init.js' %}"></script>

{% endblock %}