{% load static %}
<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />

    <title>{{heading}} Django Realtime Chatapp </title>
    
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    {% block css %}
    {% block extra_css %}
    {% endblock %}
    <!-- Bootstrap Css -->
    <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
    {% endblock css %}
</head>


<body data-sidebar="dark" data-layout-mode="light">
    <!-- Begin page -->

        <div class="page-content">
            <div class="container-fluid">
                <!-- end page title -->
                {% block contents %}

                {% endblock %}
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        {% block extra_content %}            
        {% endblock %}
            
    <!-- END layout-wrapper -->

            {% block javascript %}
                {% include 'partials/javascript.html' %}
                
            {% block extra_javascript %}
            {% endblock %}

                <!-- App js -->
                <script src="{% static 'js/app.js' %}"></script> 
            {% endblock javascript %}
        </body>

    </html>