{% extends 'partials/base.html' %}
{% load static %}
{% block contents %}

<div class="d-lg-flex">
    {% block sidebar %}
        {% include 'sidebar/sidebar.html' %}
    {% endblock sidebar %}

    <div class="w-100 user-chat">
        <div class="card">
            <div class="p-4 border-bottom ">
                <div class="row">
                    <div class="d-flex">
                        <div class="flex-shrink-0 align-self-center me-3">
                            <div class="avatar-sm mx-auto mb-4">
                                <span class="avatar-title rounded-circle bg-primary bg-soft font-size-24">
                                        <p class="pt-3 text-dark">{{friend_id.name|slice:":1"}}</p>
                                </span>
                            </div>
                        </div>
                        <div class="flex-grow-1">
                            <h5 class="font-size-15 mb-1">{{friend_id.name}}</h5>
                            <p class="text-muted mb-0">User ID: {{friend_id.id}}</p>
                        </div>
                        {% if is_contact %}
                            <div class="col-md-8 col-3">
                                <ul class="list-inline user-chat-nav text-end mb-0">
                                    <li class="list-inline-item">
                                        <form method="POST" action="{% url 'chatroom' %}?friend_id={{friend_id.id}}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-outline-danger waves-effect waves-light" name="block_user">
                                                <i class="bx bx-block font-size-16 align-middle me-2"></i> 
                                                Block
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>


            <div>
                {% if is_contact %}
                    <div class="chat-conversation p-3"  style="max-height: 70vh;">
                        <ul class="list-unstyled mb-0" data-simplebar  style="max-height: 65vh;">
                            <li>
                                <div class="conversation-list">
                                    <div class="ctext-wrap">
                                        <div class="conversation-name">Steven Franklin</div>
                                        <p>
                                            Hello!
                                        </p>
                                        <p class="chat-time mb-0"><i class="bx bx-time-five align-middle me-1"></i> 10:00</p>
                                    </div>
                                    
                                </div>
                            </li>

                            <li>
                                <div class="conversation-list">
                                    <div class="ctext-wrap">
                                        <div class="conversation-name">Steven Franklin</div>
                                        <p>
                                            Yeah everything is fine
                                        </p>
                                        
                                        <p class="chat-time mb-0"><i class="bx bx-time-five align-middle me-1"></i> 10:06</p>
                                    </div>
                                    
                                </div>
                            </li>

                            <li class="conversation-list">
                                <div class="conversation-list">
                                    <div class="ctext-wrap">
                                        <div class="conversation-name">Steven Franklin</div>
                                        <p>& Next meeting tomorrow 10.00AM</p>
                                        <p class="chat-time mb-0"><i class="bx bx-time-five align-middle me-1"></i> 10:06</p>
                                    </div>
                                </div>
                            </li>

                            <li class="right">
                                <div class="conversation-list">
                                    <div class="ctext-wrap">
                                        <div class="conversation-name">{{friend_id.name}}</div>
                                        <p>
                                            Wow that's great
                                        </p>

                                        <p class="chat-time mb-0"><i class="bx bx-time-five align-middle me-1"></i> 10:07</p>
                                    </div>
                                </div>
                            </li>
                            
                            
                        </ul>
                    </div>
                {% else %}
                    
                    <div class="alert alert-secondary mb-0" role="alert">
                        You and {{friend_id.name}} are not connected yet send request to connect with {{friend_id.name}}.
                    </div>
                          
                    <div class="pt-3 d-flex justify-content-center">
                        <div class="d-flex flex-wrap gap-2">
                            <form method="POST" action="{% url 'chatroom' %}?friend_id={{friend_id.id}}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary waves-effect waves-light" name="friend_request">
                                    <i class="bx bx-smile font-size-16 align-middle me-2"></i> Send Friend Request
                                </button>
                                <button type="submit" class="btn btn-outline-danger waves-effect waves-light" name="block_user">
                                    <i class="bx bx-block font-size-16 align-middle me-2"></i> Block {{friend_id.name}}
                                </button>
                            </form>
                        </div>
                    </div>
                             

                    <div class="d-flex justify-content-center">
                        <lottie-player src="{% static 'json/animation/newScene.json' %}"  background="transparent"  speed="1"  style="width: 500px; height: 500px;"  loop  autoplay></lottie-player>
                    </div>

                {% endif %}

                {% if is_contact %}
                    <div class="p-3 chat-input-section">
                        <div class="row">
                            <div class="col">
                                <div class="position-relative">
                                    <input id="chat-message-input" type="text" class="form-control chat-input" placeholder="Enter Message...">
                                </div>
                            </div>
                            <div class="col-auto">
                                <button id="chat-message-submit" type="button" 
                                class="btn btn-primary btn-rounded chat-send w-md waves-effect waves-light">
                                    <span class="d-none d-sm-inline-block me-2">Send</span> <i class="mdi mdi-send"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{{ room_name|json_script:"room-name" }}
<!-- end row -->
{% endblock %}

{% block extra_javascript %}

<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );
    console.log(chatSocket)

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        console.log(data)
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    };

</script>

{% endblock %}