{% load static %} 
{% block dynamic_contents %}

<div id='welcome-screen' class="w-100 user-chat">
    <div class="card">
        <div class="w-100">
            <div class="d-flex justify-content-center">
                <lottie-player src="{% static 'json/animation/contact.json' %}"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
            </div>
            <div class="d-flex h-100 flex-column">
                <div class="p-4 mt-auto">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="text-center">
                                
                                <div class="card">
                                    <div class="card-body">
                                        {% csrf_token %}
                                        <h4 ><i class="bx bx-search-alt-2 text-primary h1 align-middle me-3 bx-tada"></i><span class="text-primary"></span>Find User By Their ID</h4>
                                        <p class="font-size-14 pt-1">
                                            Type the user id and click on the name.
                                        </p>
                                        <input class="form-control me-auto" autocomplete="nope" type="text" name="user_id" placeholder="Search user by their id" id="search-input">
                                        <div id="result-box" class="result-card not-visible">

                                        </div>
                                    </div>
                                    <!-- end card body -->
                                </div>
                                
                                <div dir="ltr">
                                    
                                    <div class="owl-carousel owl-theme auth-review-carousel" id="auth-review-carousel">
                                        <div class="item">
                                            <div class="py-3">
                                                <p class="font-size-14 mb-4">"If you want to send message to any user ask their "User ID". You can find your user id under your name. This is a one time process just like add contact after that you can text from recent or contacts."
                                                </p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                                <button type="button" class="btn btn-lg btn-outline-primary waves-effect waves-light">
                                    <i class="bx bx-file font-size-16 align-middle me-2"></i> Read Project Details
                                </button>
                                
                                <a href="https://github.com/yusuf335" target="blank" type="button" class="btn btn-lg btn-dark waves-effect waves-light">
                                    <i class="bx bxl-github font-size-16 align-middle me-2"></i> GitHub
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_javascript %}

    <script>

        const sendSearchData = (user_id) => {
            $.ajax({
                type:'POST',
                url: '{% url "search_user" %}',
                data: {
                    'csrfmiddlewaretoken': csrf,
                    'user_id': user_id,
                },
                success: (res) => {
                    
                    const data = res.data
                    result_box.innerHTML = "";
                    
                    if(!data.name){
                        result_box.innerHTML = `
                        <div class="row mt-2 mb-2">
                            <div class="col-lg-12">
                                <div class="card border border-danger">
                                    <div class="card-header bg-transparent border-danger">
                                        <h5 class="my-0 text-danger"><i class="mdi mdi-block-helper me-3"></i>${data.message}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>`
                    }else{
                        result_box.innerHTML += `
                        <a  href="{% url 'chatroom' %}?user_id=${data.id}" >
                            <div class="row mt-2 mb-2">
                                <div class="col-lg-12">
                                    <div class="card border border-success">
                                        <div class="card-header bg-transparent border-success">
                                            <h5 class="my-0 text-success">${data.name}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>`
                    }
                },
                error: (err)=>{
                    console.log(err);
                }
            })
        }


        // Get search input
        const search_input = document.getElementById('search-input');

        const result_box = document.getElementById('result-box');

        //csrf_token
        const csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value;


        search_input.addEventListener('keyup', e=>{
            // Get search result
           
            if(e.target.value.length >= 1){
                sendSearchData(e.target.value);

                if(result_box.classList.contains('not-visible')){
                    result_box.classList.remove('not-visible');
                }
            }
            if(e.target.value.length == 0){
                result_box.classList.add('not-visible');
                $( "#result-box" ).load(window.location.href + " #result-box" );
            }
        })
    </script>

    <!-- dashboard init -->
    <script src="{% static 'js/pages/dashboard.init.js' %}"></script>

{% endblock %}